<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производство</title>
    <link rel="stylesheet" href="/assets/css/general/layout.css">
    <link rel="stylesheet" href="/assets/css/elements/navbar.css">
    <link rel="stylesheet" href="/assets/css/elements/footer.css">
    <link rel="stylesheet" href="/assets/css/elements/table.css">
    <link rel="stylesheet" href="/assets/css/elements/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/elements/buttons.css">
    <link rel="stylesheet" href="/assets/css/template_styles/budget.css">
    <link rel="stylesheet" href="/assets/css/elements/sweetalert-custom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/elements/navbar.js"></script>
    <script src="assets/js/templates/general.js" defer></script>
    <script src="assets/js/templates/budget.js" defer></script>

</head>
<body>
{{template "navbar" .}}
<div class="wrapper">
    <main>
        <div class="content">
            <div class="header-container budget-header">
                <div class="header-title">Управление бюджетом</div>
                {{if .budget}}
                <a href="#" class="icon-button edit-btn right-tooltip" data-id="{{(index .budget 0).ID}}" data-tooltip="Редактировать">
                    <img src="assets/images/actions/edit.svg" alt="Edit">
                </a>
                {{end}}
            </div>

            {{if .budget}}
            <div class="budget-wrapper">
                <div class="main-budget-card glass-card">
                    <img src="assets/images/logos/budget.svg" alt="Бюджет" class="budget-icon">
                    <div class="budget-info">
                        <h2>Бюджет</h2>
                        <p class="budget-amount">{{(index .budget 0).TotalAmountFormatted}}</p>
                    </div>
                </div>

                <div class="sub-cards">
                    <div class="sub-card glass-card">
                        <span>Наценка (%)</span>
                        <p>{{(index .budget 0).Markup}}</p>
                    </div>
                    <div class="sub-card glass-card">
                        <span>Бонус (%)</span>
                        <p>{{(index .budget 0).SalaryBonus}}</p>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="no-data-message">
                <p>Данные не найдены.</p>
            </div>
            {{end}}
        </div>
    </main>
    {{template "footer" .}}
</div>
</body>

</html>