<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производство</title>
    <link rel="stylesheet" href="/assets/css/general/layout.css">
    <link rel="stylesheet" href="/assets/css/elements/navbar.css">
    <link rel="stylesheet" href="/assets/css/elements/footer.css">
    <link rel="stylesheet" href="/assets/css/elements/table.css">
    <link rel="stylesheet" href="/assets/css/elements/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/elements/buttons.css">
    <link rel="stylesheet" href="/assets/css/template_styles/credit-payments.css">
    <link rel="stylesheet" href="/assets/css/elements/sweetalert-custom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/elements/navbar.js"></script>
    <script src="/assets/js/templates/general.js" defer></script>
    <script src="/assets/js/templates/credit-payments.js" defer></script>
</head>
<body>
{{template "navbar" .}}
<div class="wrapper">
    <main>
        <div class="content">
            <div class="header-container">
                <div class="credit-description card">
                    <div class="credit-item">
                        <span class="credit-item-title">Основной долг:</span>
                        <span class="credit-item-value">{{printf "%.3f" .aggregates.SumPrincipalPart}}</span>
                    </div>
                    <div class="credit-item">
                        <span class="credit-item-title">Проценты:</span>
                        <span class="credit-item-value">{{printf "%.3f" .aggregates.SumInterestPart}}</span>
                    </div>
                    <div class="credit-item">
                        <span class="credit-item-title">Общая сумма:</span>
                        <span class="credit-item-value">{{printf "%.3f" .aggregates.SumTotalPayment}}</span>
                    </div>
                    <div class="credit-item">
                        <span class="credit-item-title">Общая сумма:</span>
                        <span class="credit-item-value">{{printf "%.3f" .aggregates.SumTotalPayment}}</span>
                    </div>
                    <div class="credit-item">
                        <span class="credit-item-title">Остаток кредита:</span>
                        <span class="credit-item-value">{{printf "%.3f" .aggregates.SumRemainingDebt}}</span>
                    </div>
                    <div class="credit-item">
                        <span class="credit-item-title">Просрочено дней:</span>
                        <span class="credit-item-value">{{.aggregates.SumDaysOverdue}}</span>
                    </div>
                    <div class="credit-item">
                        <span class="credit-item-title">Сумма пени:</span>
                        <span class="credit-item-value">{{printf "%.3f" .aggregates.SumPenaltyAmount}}</span>
                    </div>
                    <div class="credit-item">
                        <span class="credit-item-title">Итого:</span>
                        <span class="credit-item-value">{{printf "%.3f" .aggregates.SumTotalWithPenalty}}</span>
                    </div>
                </div>

                {{ if .credit.IsClosed }}
                <div class="status-closed">
                    <img src="/assets/images/actions/success.svg" alt="Погашен" class="status-icon-credit">
                    <span class="status-text">Кредит погашен</span>
                </div>
                {{ else }}
                <button type="button" class="payment-button" id="paymentBtn">Выплатить</button>

                {{ end }}



            </div>
            <div class="header-container-foot">
                <div class="header-title">Список выплат</div>
            </div>

            <div class="table">
                <div class="table-header">
                    <div class="header__item">№ Мес.</div>
                    <div class="header__item">Дата выплаты</div>
                    <div class="header__item">Часть кредита</div>
                    <div class="header__item">%</div>
                    <div class="header__item">Общая сумма</div>
                    <div class="header__item">Остаток кредита</div>
                    <div class="header__item">Просрочено</div>
                    <div class="header__item">Пени</div>
                    <div class="header__item">Итого</div>

                </div>

                <div class="table-body">
                    {{range .payments}}
                    <div class="table-row">
                        <div class="table-data">{{.MonthNumber}}</div>
                        <div class="table-data">{{.PaymentDate.Format "02.01.2006"}}</div>
                        <div class="table-data">{{printf "%.3f" .PrincipalPart}}</div>
                        <div class="table-data">{{printf "%.3f" .InterestPart}}</div>
                        <div class="table-data">{{printf "%.3f" .TotalPayment}}</div>
                        <div class="table-data">{{printf "%.3f" .RemainingDebt}}</div>
                        <div class="table-data">{{.DaysOverdue}}</div>
                        <div class="table-data">{{printf "%.3f" .PenaltyAmount}}</div>
                        <div class="table-data">{{printf "%.3f" .TotalWithPenalty}}</div>
                    </div>

                    {{else}}
                    <div class="table-row">
                        <div class="table-data" colspan="3">Данные не найдены.</div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </main>
    {{template "footer" .}}
</div>
</body>

</html>