<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производство</title>
    <link rel="stylesheet" href="/assets/css/general/layout.css">
    <link rel="stylesheet" href="/assets/css/elements/navbar.css">
    <link rel="stylesheet" href="/assets/css/elements/footer.css">
    <link rel="stylesheet" href="/assets/css/elements/table.css">
    <link rel="stylesheet" href="/assets/css/elements/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/elements/buttons.css">
    <link rel="stylesheet" href="/assets/css/elements/sweetalert-custom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/elements/navbar.js"></script>
    <script src="assets/js/templates/general.js" defer></script>
    <script src="assets/js/templates/credits.js" defer></script>

</head>
<body>
{{template "navbar" .}}
<div class="wrapper">
    <main>
        <div class="content">
            <div class="header-container">
                <div class="header-title">Список кредитов</div>
                <button type="button" class="button" id="addBtn">
                    <span class="button__text">Взять кредит</span>
                    <span class="button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                    <line y2="19" y1="5" x2="12" x1="12"></line>
                    <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
            </span>
                </button>
            </div>

            <div class="table">
                <div class="table-header">
                    <div class="header__item">Cумма</div>
                    <div class="header__item">Дата получения</div>
                    <div class="header__item">На (лет)</div>
                    <div class="header__item">% годовых</div>
                    <div class="header__item">Пени</div>
                    <div class="header__item">Статус</div>
                    <div class="header__item">Выплаты</div>
                </div>

                <div class="table-body">
                    {{range .credits}}
                    <div class="table-row">
                        <div class="table-data">{{.Amount}}</div>
                        <div class="table-data">{{.StartDate.Format "02.01.2006"}}</div>
                        <div class="table-data">{{.TermYears}}</div>
                        <div class="table-data">{{.AnnualRate}}</div>
                        <div class="table-data">{{.PenaltyRate}}</div>
                        <div class="table-data">
                            {{if .IsClosed}}
                            <div class="status closed" title="Кредит погашен">Погашен</div>
                            {{else}}
                            <div class="status active" title="Кредит активен">Активен</div>
                            {{end}}
                        </div>

                        <div class="table-data action-buttons">
                            <a href="/credits/{{.ID}}/payments" class="icon-button payment-btn left-tooltip" data-tooltip="Список выплат">
                                <img src="assets/images/actions/payments.svg" alt="Payments">
                            </a>

                        </div>

                    </div>
                    {{else}}
                    <div class="table-row">
                        <div class="table-data" colspan="3">Данные не найдены.</div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </main>
    {{template "footer" .}}
</div>
</body>

</html>