<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производство</title>
    <link rel="stylesheet" href="/assets/css/general/layout.css">
    <link rel="stylesheet" href="/assets/css/elements/navbar.css">
    <link rel="stylesheet" href="/assets/css/elements/footer.css">
    <link rel="stylesheet" href="/assets/css/elements/table.css">
    <link rel="stylesheet" href="/assets/css/elements/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/elements/buttons.css">
    <link rel="stylesheet" href="/assets/css/elements/sweetalert-custom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/elements/navbar.js"></script>
    <script src="assets/js/templates/general.js" defer></script>
    <script src="assets/js/templates/employees.js" defer></script>

</head>
<body>
{{template "navbar" .}}
<div class="wrapper">
    <main>
        <div class="content">
            <div class="header-container">
                <div class="header-title">Список сотрудников</div>
                <button type="button" class="button" id="addBtn">
                    <span class="button__text">Добавить</span>
                    <span class="button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                    <line y2="19" y1="5" x2="12" x1="12"></line>
                    <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
            </span>
                </button>
            </div>

            <div class="table">
                <div class="table-header">
                    <div class="header__item">ФИО</div>
                    <div class="header__item">Должность</div>
                    <div class="header__item">Зарплата</div>
                    <div class="header__item">Адрес</div>
                    <div class="header__item">Номер телефона</div>
                    <div class="header__item">Действия</div>
                </div>

                <div class="table-body">
                    {{range .employees}}
                    <div class="table-row">
                        <div class="table-data">{{.FullName}}</div>
                        <div class="table-data">{{.Position}}</div>
                        <div class="table-data">{{.Salary}}</div>
                        <div class="table-data">{{.Address}}</div>
                        <div class="table-data">{{.Phone}}</div>
                        <div class="table-data action-buttons">
                            <a href="#" class="icon-button edit-btn left-tooltip" data-id="{{.ID}}" data-tooltip="Редактировать">
                                <img src="assets/images/actions/edit.svg" alt="Edit">
                            </a>
                            <a href="#" class="icon-button delete-btn right-tooltip" data-id="{{.ID}}" data-tooltip="Удалить">
                                <img src="assets/images/actions/delete.svg" alt="Delete">
                            </a>
                        </div>

                    </div>
                    {{else}}
                    <div class="table-row">
                        <div class="table-data" colspan="3">Данные не найдены.</div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </main>
    {{template "footer" .}}
</div>
</body>

</html>