<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производство</title>
    <link rel="stylesheet" href="/assets/css/general/layout.css">
    <link rel="stylesheet" href="/assets/css/elements/navbar.css">
    <link rel="stylesheet" href="/assets/css/elements/footer.css">
    <link rel="stylesheet" href="/assets/css/elements/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/template_styles/home.css">
    <link rel="stylesheet" href="/assets/css/elements/sweetalert-custom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/templates/general.js" defer></script>
    <script src="/assets/js/elements/dashboard.js" defer></script>
    <script src="/assets/js/elements/navbar.js"></script>
</head>
<body>
{{template "navbar" .}}
<div class="wrapper">
    <main
    id="user-dashboard"
    data-fullname="{{.FullName}}"
    data-position="{{.Position}}"
    data-username="{{.Username}}"
    data-salary="{{.Salary}}"
    data-ispasswordchanged="{{.IsPasswordChanged}}">
    </main>

    {{template "footer" .}}
</div>
</body>
</html>