{{define "navbar"}}
<section class="navigation">
    <div class="nav-container">

        <div class="brand">
            <a href="/home">
                <img src="/assets/images/logos/profile.svg" alt="Logo" />
                <span>Профиль</span>
            </a>
        </div>

        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle"><span></span></a>
            </div>

            <ul class="nav-list">
                <li>
                    <a href="/reports">Отчёты</a>
                </li>
                <li>
                    <a href="#!">Инвентарь</a>
                    <ul class="nav-dropdown">
                        <li><a href="/units">Единицы измерения</a></li>
                        <li><a href="/raw-materials">Сырье</a></li>
                        <li><a href="/finished-goods">Продукция</a></li>
                        <li><a href="/ingredients">Список ингредиентов</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Транзакции</a>
                    <ul class="nav-dropdown">
                        <li><a href="/raw-material-purchases">Закупка сырья</a></li>
                        <li><a href="/production">Производство продукции</a></li>
                        <li><a href="/sales">Продажа продукции</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Финансы</a>
                    <ul class="nav-dropdown">
                        <li><a href="/budget">Бюджет</a></li>
                        <li><a href="/credits">Кредиты</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#!">Сотрудники</a>
                    <ul class="nav-dropdown">
                        <li><a href="/employees">Сотрудники</a></li>
                        <li><a href="/positions">Должности</a></li>
                        <li><a href="/salaries">Выдача зарплаты</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</section>
{{end}}
