<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производство</title>
    <link rel="stylesheet" href="/assets/css/general/layout.css">
    <link rel="stylesheet" href="/assets/css/elements/navbar.css">
    <link rel="stylesheet" href="/assets/css/elements/footer.css">
    <link rel="stylesheet" href="/assets/css/elements/table.css">
    <link rel="stylesheet" href="/assets/css/elements/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/template_styles/home.css">
    <link rel="stylesheet" href="/assets/css/template_styles/reports.css">
    <link rel="stylesheet" href="/assets/css/elements/sweetalert-custom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/elements/navbar.js"></script>
    <script src="assets/js/templates/general.js" defer></script>
    <script src="assets/js/templates/reports.js" defer></script>

</head>
<body>
{{template "navbar" .}}
<div class="wrapper">

    <main>
        <div class="report-wrapper">
            <div class="report-frame">
                <div class="report-form">
                    <div class="report-select">
                        <label for="report-select">Выберите раздел</label>
                        <select id="report-select" class="glass-select">
                            <option value="" disabled selected>Выберите раздел</option>
                            <option value="sales">Продажи</option>
                            <option value="productions">Производство</option>
                            <option value="purchases">Закупки</option>
                            <option value="salaries">Зарплаты</option>
                            <option value="payments">Выплаты по кредитам</option>
                        </select>
                    </div>

                    <div class="report-controls">
                        <div class="report-date">
                            <label for="start-date">С даты</label>
                            <input type="date" id="start-date" class="glass-select" />
                        </div>
                        <div class="report-date">
                            <label for="end-date">По дату</label>
                            <input type="date" id="end-date" class="glass-select" />
                        </div>
                        <button class="profile-button" id="generate-report-btn">Сгенерировать</button>
                        <div class="report-export" style="display: none;">
                            <button id="export-btn" class="profile-button">Экспорт</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Контейнер для таблицы -->
        <div id="report-result" class="report-result"></div>
    </main>


    {{template "footer" .}}
</div>
</body>

</html>