<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Производство</title>
    <link rel="stylesheet" href="/assets/css/general/layout.css">
    <link rel="stylesheet" href="/assets/css/elements/navbar.css">
    <link rel="stylesheet" href="/assets/css/elements/footer.css">
    <link rel="stylesheet" href="/assets/css/elements/table.css">
    <link rel="stylesheet" href="/assets/css/elements/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/elements/select_box.css">
    <link rel="stylesheet" href="/assets/css/elements/generate-btn.css">
    <link rel="stylesheet" href="/assets/css/elements/buttons.css">
    <link rel="stylesheet" href="/assets/css/elements/sweetalert-custom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/elements/navbar.js"></script>
    <script src="assets/js/templates/general.js" defer></script>
    <script src="/assets/js/templates/salaries.js" defer></script>

</head>
<body>
{{template "navbar" .}}
<div class="wrapper">
    <main>
        <div class="content">
            <div class="header-container">
                <div class="header-title">Зарплатная ведомость</div>
                <div class="select">
                    <select id="yearSelect">
                        <option value="" disabled selected>Выберите год</option>
                        {{range .years}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                    </div>
                <div class="select">
                <select id="monthSelect">
                        <option value="" disabled selected>Выберите месяц</option>
                        {{range .months}}
                        <option value="{{.Value}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                    <!-- Кнопка "Рассчитать" с иконкой -->
                    <button class="generate-button" id="payBtn">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-arrow-repeat"
                                viewBox="0 0 16 16"
                        >
                            <path
                                    d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
                            ></path>
                            <path
                                    fill-rule="evenodd"
                                    d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
                            ></path>
                        </svg>
                        Выдать
                    </button>
                <div id="totalUnpaidDisplay"></div>
                </div>
            </div>

            <div class="table" style="margin-top: 20px;">
                <div class="table-header">
                    <div class="header__item">Сотрудник</div>
                    <div class="header__item">Оклад</div>
                    <div class="header__item">Закупки</div>
                    <div class="header__item">Производство</div>
                    <div class="header__item">Продажи</div>
                    <div class="header__item">Итого</div>
                    <div class="header__item">Бонус</div>
                    <div class="header__item">Зарплата</div>
                    <div class="header__item">Выплачено</div>
                </div>

                <div class="table-body" id="salaryTableBody">
                    <div class="table-row">
                        <div class="table-data" colspan="7">Выберите дату для отображения данных.</div>
                    </div>
                </div>
            </div>
    </main>
</div>


{{template "footer" .}}
</div>
</body>

</html>